@model ProfileManager.Entities.Employee

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete @($"{Model.FirstName} {Model.LastName}")?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImmutableId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImmutableId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" value="@Model.ImmutableId" name="ImmutableId" id="ImmutableId" />
        <div class="btn-group">
            <a asp-action="Index" class="btn btn-primary"><span class="glyphicon glyphicon-backward"></span> Back to List</a>
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    </form>
</div>
