@model ProfileManager.Entities.Employee

@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col-md-6">
        <h4>Employee</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CompanyId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CompanyId)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ImmutableId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ImmutableId)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Department)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Department)
            </dd>
        </dl>
    </div>
    <div class="col-md-6">
        <img src="@Model.PhotoPathSas" alt="user" style="max-height:200px;width:auto;"/>
    </div>
    <div>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ImmutableId }) |
        <a asp-action="Index">Back to List</a>
    </div>
</div>